<div class="modal hide fade">
    <div class="modal-header">
         <h3>Edit Snute</h3>
    </div>
    <!-- dialog contents -->
    <div class="modal-body">
   
         <div class="clearfix">
            <label for="textarea">Edit your snute:</label>
            <div class="input">
              <textarea class="xxlarge snute-content" name="snutearea" rows="5">{{text}}</textarea>
              <!--<span class="help-block">
                
              </span>-->
            </div>
          </div>
    </div>
    <!-- dialog buttons -->
    <div class="modal-footer">
        <button class="btn cancel-button">Cancel</button>
        <button class="btn primary ok-button">Save changes</button>
        <button class="btn info publish-button">Publish</button>
    </div>
</div>
